.difficulty {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.option {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5em 1em 1em 1em;
  margin: 0 0.3em 1.5em 0.3em;
  border-radius: 8px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3), 0px 3px 6px rgba(0, 0, 0, .5);
  background: #fff;
  overflow: hidden;
}
.stack {
  display: none;
  margin-bottom: 0.5em;
}
.stack {
  margin-bottom: 0.5em;
}
.container {
  height: 2vh;
  width: 6vh;
  border-radius: 2px;
  margin-bottom: 1px;
  border: 2px solid rgba(0, 0, 0, .2);
  background-image: repeating-linear-gradient(
    30deg,
    hsla(0, 0%, 100%, .2),
    hsla(0, 0%, 100%, .2) 0.3vh,
    transparent 0,
    transparent 0.6vh
  );
}
@media screen and (min-width: 581px) {
  .difficulty {
    flex-direction: row;
  }
  .stack {
    display: block;
  }
}
