.buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 2em;
}
.addContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.3em 1.5em 0.3em;
  padding: 1em;
  border-radius: 8px;
  border: 4px solid #fff;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3), 0px 3px 6px rgba(0, 0, 0, .5);
  background: #fff;
}
.color {
  width: 100%;
  height: 3em;
  margin-bottom: 1em;
  border-radius: 4px;
  border: 4px solid rgba(0, 0, 0, .2);
}
.button {
  composes: button from "../common/ui/button.css";
  border-radius: 50%;
}
