@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #efefef;
}
h1 {
  position: relative;
  font-family: 'Architects Daughter', sans-serif;
  color: #fff;
  font-size: 9vmax;
  padding: 0 2vw;
  text-align: center;
}
.app {
}